/*========================================================
                        Camera
=========================================================*/
.camera_container {
  position: relative;
  padding-bottom: 48.7805%; }

@media (max-width: 614.99985px) {
  .camera_container {
    padding-bottom: 300px; } }
.camera_wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 0 !important;
  height: 100%;
  background: #181818;
  z-index: 0; }

.camera_wrap img {
  max-width: none !important; }

.camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%; }

.camera_src {
  display: none; }

.cameraCont, .cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1; }

.cameraSlide {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.cameraContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none; }

.camera_target {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  text-align: left;
  z-index: 0; }

.camera_overlayer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0; }

.camera_target_content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2; }
/*
.camera_loader {
  background: #FFF url(../images/camera-loader.gif) no-repeat center;
  border: none;
  border-radius: 0;
  height: 64px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 53px;
  z-index: 3; }
*/
.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4; }

.camerarelative {
  overflow: hidden;
  position: relative; }

.imgFake {
  cursor: pointer; }

.camera_command_wrap .hideNav {
  display: none; }

.camera_command_wrap {
  left: 0;
  position: relative;
  right: 0;
  z-index: 4; }

.showIt {
  display: none; }

.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative; }

.camera_caption {
  display: none; }

.cameraContent .camera_caption {
  display: block; }

/*================   Custom Layout&Styles   =====================*/
.camera_caption {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center; }
  .camera_caption > div {
    height: 100%; }
  .camera_caption h2 {
    text-shadow: 0 2px 1px black;
    color: #FFF; }

.camera_pag_ul {
  text-align: center; }
  .camera_pag_ul li {
    display: inline-block;
    width: 8px;
    height: 8px;
    line-height: 8px;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #888;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    .camera_pag_ul li.cameracurrent, .camera_pag_ul li:hover {
      background: #333; }
    .camera_pag_ul li + li {
      margin-left: 4px; }
    .camera_pag_ul li > span {
      display: none; }

.camera_next, .camera_prev {
  position: absolute;
  cursor: pointer;
  top: 50%;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 72px;
  height: 143px;
  z-index: 8; }
  .camera_next:hover, .camera_prev:hover {
    opacity: .5; }
.camera_next {
  right: 128px; }
.camera_prev {
  left: 128px; }

.camera_next {
  background: url("../images/next.png") no-repeat;
  background-size: cover; }

.camera_prev {
  background: url("../images/prev.png") no-repeat;
  background-size: cover; }

/*========================================================
                    RESPONSIVE
=========================================================*/
@media (max-width: 1399px) {
  .camera_next {
    right: 50px; }
  .camera_prev {
    left: 50px; } }
@media (max-width: 991px) {
  .camera_next, .camera_prev {
    width: 40px;
    height: 80px; }

  .camera_next {
    right: 10px; }
  .camera_prev {
    left: 10px; }

  .camera_caption {
    -moz-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    -o-transform: translateY(-35%);
    -webkit-transform: translateY(-35%);
    transform: translateY(-35%); } }
@media (max-width: 479px) {
  .camera_next, .camera_prev {
    width: 20px;
    height: 40px; }

  .camera_next {
    right: 5px; }
  .camera_prev {
    left: 5px; } }

/*# sourceMappingURL=camera.css.map */
